.container{
    float: none;
    margin:auto;
}
.logo-header h1{
    text-align: center;
}
.menu ul{
    color: black;
    list-style-type: none;
    text-align: center;
}
.menu ul li{
    display: inline-table;
    height: 40px;
    line-height: 40px;
    position: relative;
    list-style-type: none;
    float: left;
}.all-nav{
    font-size: 13px;
 }
 .logo-nav li{
     margin-right: 10px;
 }
 .sub-menu{
     margin-left: 15px;
 }
#img-lg span{
    top: -5px;
    position: relative;
}