body{
    background-color: #0000A4;
}
ul{
    list-style-type: none;
}
.top{
    font-family: Verdana;
    color: #CEEAEE;
    font-size: 16px;
    display: flex;
    margin: 30px 450px;
    justify-content: center;
}
.text1,.text2.text3{
    font-family: Verdana;
    color: #000000;
    font-size: 16px;
}
#image{
    background-color: #ffffff;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
#content{
    background-color: #ffffff;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}